---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("xyy")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                width: 1200px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                justify-content: flex-start;
                margin: 0;
                padding: 0;
            }
            ul li {
                width: 240px;
                height: 80px;
                border: solid 1px rgba(189, 195, 255, 1);
                padding: 4px;
                box-sizing: border-box;
            }
            ul li * {
                text-decoration: none;
                transition: 0.2s ease;
            }
            ul li img {
                margin-bottom: 0.5rem;
                border-radius: 12px;
            }
            ul li a {
                display: block;
            }
            .title {
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
                font-size: large;
            }
            .date {
                margin: 0;
                color: rgb(var(--gray));
                font-size: medium;
            }
            ul li a:hover .title,
            ul li a:hover .date {
                color: rgb(var(--accent));
            }
            ul a:hover img {
                box-shadow: var(--box-shadow);
            }
            @media (max-width: 720px) {
                ul li {
                    width: 100%;
                    height: auto;
                    text-align: center;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <ul>
                    {
                        posts.reverse().map((post) => (
                            <li>
                                <a href={`/xyy/${post.slug}`}>
                                    <h5 class="title">{post.data.title}</h5>
                                    <p class="date">
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
