---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION, COLLECTION_MAP } from "../consts";
---

<header>
  <nav>
    <div class="title">
      <a href="/">{SITE_TITLE}</a>
      <a href="/" class="text-xs w-[7.4rem]">{SITE_DESCRIPTION}</a>
    </div>
    <div class="tabs">
      <HeaderLink href="/xyy">{COLLECTION_MAP.xyy}</HeaderLink>
      <HeaderLink href="/life">{COLLECTION_MAP.life}</HeaderLink>
      <HeaderLink href="/lab">{COLLECTION_MAP.lab}</HeaderLink>
      <HeaderLink href="/do">{COLLECTION_MAP.do}</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 0.2em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    margin: 0;
    min-width: 140px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    color: var(--black);
  }
  nav .tabs {
    width: 50%;
    text-align: center;
  }
  nav .tabs a {
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  nav .tabs a.active {
    border-bottom-color: var(--accent);
  }
  .social-links {
    display: flex;
    justify-content: space-around;
    min-width: 140px;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
