---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION, COLLECTION_MAP } from "../consts";
---

<header>
  <nav>
    <div class="title">
      <a href="/">{SITE_TITLE}</a>
      <a href="/" class="text-xs w-[7.4rem]">{SITE_DESCRIPTION}</a>
    </div>
    <div class="tabs">
      <HeaderLink href="/do">{COLLECTION_MAP.do}</HeaderLink>
      <HeaderLink href="/life">{COLLECTION_MAP.life}</HeaderLink>
      <HeaderLink href="/lab">{COLLECTION_MAP.lab}</HeaderLink>
      <HeaderLink href="/xyy">{COLLECTION_MAP.xyy}</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        color: var(--black);
      }
      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        margin: 0;
      }
      .tabs {
        text-align: center;
        a {
          border-bottom: 2px solid transparent;
          text-decoration: none;
          .active {
            border-bottom-color: var(--accent);
          }
        }
      }
    }
  }
</style>
