---
import type { CollectionEntry } from "astro:content";
import Article from "@/cards/article-card.astro";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

interface Props {
  slug: string;
  collection: string;
  data: CollectionEntry<"xyy">["data"];
  articleWidth?: string;
  articleHeight?: string;
}

const { slug, collection, data, articleWidth, articleHeight } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={data.title} description={data.description || data.title} />
  </head>

  <body>
    <Header />
    <main class="w-fit">
      <Article data={data} width={articleWidth} height={articleHeight}>
        <slot />
      </Article>
      <a
        href={`https://github.com/andyluss/lushisang.com/edit/main/src/content/${collection}/${slug}.md`}
        class="text-sm underline"
      >
        编辑
      </a>
    </main>
    <Footer />
  </body>
</html>
