---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { type ContentEntryMap, getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
    category: keyof ContentEntryMap;
}

const { category } = Astro.props;

const posts = (await getCollection(category)).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                width: 1250px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul li {
                width: 240px;
                height: 80px;
                border: solid 1px rgba(189, 195, 255, 1);
                padding: 4px;
                margin: 1px;
                box-sizing: border-box;
            }
            ul li * {
                text-decoration: none;
                transition: 0.2s ease;
            }
            ul li img {
                margin-bottom: 0.5rem;
                border-radius: 12px;
            }
            ul li a {
                display: block;
            }
            .title {
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
                font-size: large;
                display: flex;
                justify-content: space-between;
            }
            .date {
                margin: 0;
                color: rgb(var(--gray));
                font-size: x-small;
            }
            .tag {
                margin: 0;
                color: rgb(var(--gray));
                font-size: x-small;
            }
            ul li a:hover .title {
                color: rgb(var(--accent));
            }
            ul a:hover img {
                box-shadow: var(--box-shadow);
            }
            @media (max-width: 720px) {
                ul li {
                    width: 100%;
                    height: auto;
                    text-align: center;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <ul>
                    {
                        posts.reverse().map((post, index) => (
                            <li>
                                <a href={`/${category}/${post.slug}`}>
                                    <h5 class="title">
                                        {post.data.title}
                                        <span class="text-gray-400 text-xs">
                                            {posts.length - index}
                                        </span>
                                    </h5>
                                    <p class="date">
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                    {post.data.tags && (
                                        <div class="tag">
                                            🏷 {post.data.tags.join(", ")}
                                        </div>
                                    )}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
