---
import FormattedDate from "../components/FormattedDate.astro";
import { type Collection, type Post } from "../utils/content";

interface Props {
  collection: Collection;
  post: Post;
  index: number;
  width?: string;
  height?: string;
}

const {
  collection,
  post,
  index,
  width = "128px",
  height = "128px",
} = Astro.props;

function border(post: Post) {
  return [
    post.data.level >= 2 ? "border-2 border-double" : "border border-solid",
    post.data.level >= 3
      ? "border-fuchsia-500"
      : post.data.level === 2
        ? "border-orange-500"
        : post.data.level === 1
          ? "border-green-500"
          : "border-blue-200",
  ];
}

function star(post: Post) {
  const bgColor =
    post.data.level >= 3
      ? "bg-fuchsia-500"
      : post.data.level === 2
        ? "bg-orange-500"
        : post.data.level === 1
          ? "bg-green-500"
          : "bg-blue-200";
  return `w-3.5 text-[10px] leading-3 pt-[2px] rounded text-center ${bgColor}`;
}
---

<li class:list={["post relative", ...border(post)]}>
  <a href={`/${collection}/${post.slug}`}>
    <div class:list={["title", post.data.level >= 3 && "!text-fuchsia-500"]}>
      {post.data.title}
    </div>
    <p class="date">
      <FormattedDate date={post.data.pubDate} />
      {
        post.data.updatedDate && (
          <>
            ↻<FormattedDate date={post.data.updatedDate} />
          </>
        )
      }
    </p>
  </a>

  <div class="m-0 text-xs text-blue-500 absolute bottom-0">
    {post.data.tags.length > 0 && <div>{post.data.tags.join(" ")}</div>}
  </div>
  <div class="absolute right-[1px] top-0 flex flex-col items-end space-x-1">
    <div class="text-gray-400 text-xs">
      {index}
    </div>
    {
      !!post.data.level && (
        <div class={star(post)}>{"⭐️".repeat(post.data.level)}</div>
      )
    }
  </div>
</li>

<style define:vars={{ width, height }}>
  .post {
    width: var(--width);
    height: var(--height);
    padding: 4px;
    margin: 1px;
    box-sizing: border-box;
  }
  .post * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  .post a {
    display: block;
  }
  .post a:hover .title {
    color: rgb(var(--accent));
  }
  .title {
    width: 85%;
    margin: 0;
    color: rgb(var(--black));
    line-height: 1.2;
    font-size: medium;
    display: flex;
    justify-content: space-between;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
    font-size: 10px;
  }
</style>
